<footer class="apriila-footer">
  <div class="footer-content">
    <div class="footer-section">
      <h3>MAVE&ACION</h3>
      <ul>
        <!-- links de servicios-->
        <li>Nuestros modelos</li>
        <li>Encuentra la moto de tus SSSsueños</li>
        <!-- <li></li>
        <li>CAMPAÑAS DE SEGURIDAD EN VEHÍCULOS</li> -->
      </ul>
    </div>
    
    <div class="footer-section"><!-- Conales de soporte  -->
      <h3>CANALES DE SOPORTE</h3>
      <ul>
        <li>Informacion</li>
        <li>Política de privacidad</li>
        <li>Soporte</li>
      </ul>
    </div>
  </div>
  
  <div class="footer-bottom">
    <div class="footer-divider"></div>
    <div class="footer-info">
      <p><strong>Tus motos</strong></p>
      <p>Distribudora de motos deportivas</p>
    </div>
  </div>
</footer>