header {
  background-color: #1B263B; /* Navbar oscuro */
  padding: 20px;
}

nav a {
  color: #E0E1DD;
  margin: 0 10px;
  text-decoration: none;
  padding: 10px 20px;
}

nav a:hover {
  background-color: #415A77;
  color: #E0E1DD;
  border-radius: 20px;
}
